<div class="container">
  <div class="row">

    <div class="col-md-3 col-lg-3">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="jumbotron sidebar">
            <h5>Side Bar Upper</h5>
            <p>The number of lines in a paragraph depends on the size of the browser window.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="jumbotron sidebar">
            <h5>Side Bar Lower</h5>
            <p>The number of lines in a paragraph depends on the size of the browser window.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-9 col-lg-9">

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="jumbotron main-content-upper">
            <h5>Main content Area</h5>
            <p>The number of lines in a paragraph depends on the size of the browser window.
              If you resize the browser window, the number of lines in this paragraph will change.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="jumbotron main-content-upper">
                <h5>Main content Area 2</h5>
                <p>The number of lines in a paragraph depends on the size of the browser window.
                </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="jumbotron main-content-upper">
                <h5>Main content Area 3</h5>
                <p>The number of lines in a paragraph depends on the size of the browser window.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="jumbotron main-content-lower">
            <h5>Main content Footer 1</h5>
            <p>The number of lines in a paragraph depends on the size of the browser window.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="jumbotron main-content-lower">
            <h5>Main content Footer 2</h5>
            <p>The number of lines in a paragraph depends on the size of the browser window.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>