<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg-12">
      <h2 class="pb-2 mt-4 mb-2 border-bottom text-center text-primary">Image Gallary</h2>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/christopher.jpg">
          <p>Christopher</p>
          <img src="../../assets/images/christopher.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/goran.jpg">
          <p>Goran</p>
          <img src="../../assets/images/goran.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/greg.jpg">
          <p>Greg</p>
          <img src="../../assets/images/greg.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/jordan.jpg">
          <p>Jordan</p>
          <img src="../../assets/images/jordan.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/katlyn.jpg">
          <p>Katlyn</p>
          <img src="../../assets/images/katlyn.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="img-thumbnail">
        <a href="../../assets/images/markus.jpg">
          <p>Markus</p>
          <img src="../../assets/images/markus.jpg" class="img-fluid rounded img-details" />
        </a>
      </div>
    </div>

  </div>
</div>