<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2">
      <div class="jumbotron">
        <h4>Left Bar Area</h4>
        <p>The number of lines in a paragraph depends on the size of the browser window.
          If you resize the browser window, the number of lines in this paragraph will change.
        </p>
      </div>
    </div>
    <div class="col-md-8 col-lg-8">
      <div class="jumbotron">
        <h4>Main Content Area</h4>
        <p>The number of lines in a paragraph depends on the size of the browser window.
          If you resize the browser window, the number of lines in this paragraph will change.
        </p>
      </div>
    </div>
    <div class="col-md-2 col-lg-2">
      <div class="jumbotron">
        <h4>Right Bar Area</h4>
        <p>The number of lines in a paragraph depends on the size of the browser window.
          If you resize the browser window, the number of lines in this paragraph will change.
        </p>
      </div>
    </div>
  </div>
</div>