<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg-12">
      <h2 class="pb-2 mt-4 mb-2 text-center text-light bg-dark">
        Dynamic Tabs Example
      </h2>
    </div>

    <div class="col-md-12 col-lg-12">
      <!--  Nav Tabs -->
      <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href=".home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href=".about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href=".contact-us">Contact Us</a>
        </li>
      </ul>
    </div>

    <!-- Tabs Content -->
    <div class="col-md-12 col-lg-12">
      <div class="tab-content">
        <div class="home card-body tab-pane fade show active">
          <h4>Home Tab</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <div class="about card-body tab-pane fade">
          <h4>About Tab</h4>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div class="contact-us card-body tab-pane fade">
          <h4>Cotact Us Tab</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row">

      <div class="col-md-12 col-lg-12">
        <h2 class="pb-2 mt-4 mb-2 text-center text-light bg-dark">
          Dynamic Pills Example
        </h2>
      </div>
  
      <div class="col-md-12 col-lg-12">
        <!--  Nav Tabs -->
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href=".home-pill">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href=".about-pill">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href=".contact-us-pill">Contact Us</a>
          </li>
        </ul>
      </div>
  
      <!-- Tabs Content -->
      <div class="col-md-12 col-lg-12">
        <div class="tab-content">
          <div class="home-pill card-body tab-pane fade show active">
            <h4>Home Tab</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
          <div class="about-pill card-body tab-pane fade">
            <h4>About Tab</h4>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="contact-us-pill card-body tab-pane fade">
            <h4>Cotact Us Tab</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam.</p>
          </div>
        </div>
      </div>
  
    </div>
</div>