<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg-12">
      <h2 class="pb-2 mt-4 mb-2 border-bottom text-center text-light bg-dark">
        Various Buttons
      </h2>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="jumbotron">
        <a href="/buttons" class="btn btn-sm btn-primary m-1" role="button">Small Button with anchor tag</a>
        <button type="submit" class="btn btn-info m-1">Submit</button>
        <button type="button" class="btn btn-lg btn-success m-1">Large button</button>
        <input type="button" class="btn btn-link m-1" value="Warning">
        <button type="button" class="btn btn-outline-danger m-1">Button with Outline</button>
        <div class="btn-group btn-group-sm" role="group">
          <button type="button" class="btn btn-outline-primary">Button 1</button>
          <button type="button" class="btn btn-outline-primary">Button 2</button>
        </div>
        <button type="button" class="btn btn-warning btn-block">Full width Button</button>
      </div>
    </div>

  </div>
</div>