<div class="container">
  <div class="row">

    <div class="col-md-12 col-lg-12">
      <h2 class="pb-2 mt-4 mb-2 text-center text-light bg-dark">
        Accordion Example
      </h2>
    </div>

    <div class="col-md-12 col-lg-12">
      <div class="parent-accordion">

        <div class="card">
          <div class="card-header bg-info">
            <a class="text-light" data-toggle="collapse" href=".collapse-one">Accordion 1</a>
          </div>
          <div class="collapse show collapse-one" data-parent=".parent-accordion">
            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info">
            <a class="text-light" data-toggle="collapse" href=".collapse-two">Accordion 2</a>
          </div>
          <div class="collapse collapse-two" data-parent=".parent-accordion">
            <div class="card-body">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info">
            <a href=".collapse-three" class="text-light" data-toggle="collapse">Accordion 3</a>
          </div>
          <div class="collapse collapse-three" data-parent=".parent-accordion">
            <div class="card-body">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam.
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>