<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 col-lg-12">
      <h2 class="pb-2 mt-4 mb-2 border-bottom text-center text-light bg-dark">
        Collapse Content
      </h2>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6 col-lg-6">
      <div class="jumbotron">
        <p class="text-center">
          <a href="#collapse-content" class="btn btn-primary m-1" data-bs-toggle="collapse">Collapse using Anchor</a>
          <button class="btn btn-primary m-1" data-bs-toggle="collapse" data-bs-target="#collapse-content">Collapse using
            button</button>
        </p>
        <div class="collapse" id="collapse-content">
          <div class="card card-body">
            <h6>Content 2</h6>
            <p>
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
              Anim pariatur cliche reprehenderit, enim eiusmod high life.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <p class="text-center">
              <button type="button" data-bs-toggle="collapse" data-bs-target="#content-1"
                class="btn btn-outline-primary m-1">Collapse Content 1</button>
              <button type="button" data-bs-toggle="collapse" data-bs-target="#content-2"
                class="btn btn-outline-success m-1">CollapseContent 2</button>
              <button type="button" data-bs-toggle="collapse" data-bs-target=".collapsible-content"
                class="btn btn-outline-danger m-1">Collapse Both Content</button>
            </p>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="collapse show collapsible-content" id="content-1">
              <div class="card card-body">
                <h6>Content 1</h6>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="collapse show collapsible-content" id="content-2">
              <div class="card card-body">
                <h6>Content 2</h6>
                <p>
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>